@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
}

body {
  color: #FFF;
  background-color: #0E0C15;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .list_item {
    @apply px-3 py-1 text-body hover:text-white font-semibold hover:bg-dark 
  }
}